.title {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;


}

.title span {
    color: #CB4B7E;
    font-size: 40px;
}

.main {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;

}

.main img {
    max-height: 300px;
}

.main-info {
    max-width: 500px;
}

.main-info ul {
    padding-left: 17px;
}

.main-info a {
    font-size: 20px;
    color: #CB4B7E;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.form {
    max-width: 420px;
    margin:  auto;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;

}

.form h2 {
    text-align: center;
}

.form input {
    padding: 10px;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(175, 171, 171);;
    text-align: center;
}

.form button {
    background:#CB4B7E;
    color: white;
    padding: 15px 32px;
    border-radius: 13px; 
    font-size: 20px; 
    box-shadow: #ca336f;
}
